## Import

In [1]:
import random
import os
import pandas as pd
import numpy as np

from tqdm.auto import tqdm
from sklearn.preprocessing import LabelEncoder

import torch
import torch.nn as nn
import torch.optim as optim
import torch.nn.functional as F
from torch.utils.data import Dataset, DataLoader

c:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
device = torch.device('cuda') if torch.cuda.is_available() else torch.device('cpu')

In [4]:
torch.cuda.get_device_name(0)

'NVIDIA GeForce RTX 3090'

In [5]:
torch.cuda.is_available()

True

In [6]:
torch.__version__

'2.0.1+cu118'

## Hyperparameter Setting

In [7]:
CFG = {
    'TRAIN_WINDOW_SIZE':10, 
    'PREDICT_SIZE':21, 
    'EPOCHS':1,
    'LEARNING_RATE':0.0001,
    'BATCH_SIZE':10000,
    'SEED':41
}

In [8]:
def seed_everything(seed):
    random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)
    torch.manual_seed(seed)
    torch.cuda.manual_seed(seed)
    torch.backends.cudnn.deterministic = True
    torch.backends.cudnn.benchmark = True

seed_everything(CFG['SEED']) # Seed 고정

### 데이터 불러오기

In [12]:
train_data = pd.read_csv('E:/정리/LG/LG_data/LG/train.csv').drop(columns=['ID',"제품",'대분류',"중분류","소분류"])

In [13]:
train_data.head()

,브랜드,쇼핑몰,2022-01-01,2022-01-02,2022-01-03,2022-01-04,2022-01-05,2022-01-06,2022-01-07,2022-01-08,...,2023-04-15,2023-04-16,2023-04-17,2023-04-18,2023-04-19,2023-04-20,2023-04-21,2023-04-22,2023-04-23,2023-04-24
0,B002-00001,S001-00001,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,B002-00002,S001-00001,0,0,0,0,0,0,0,0,...,2,0,2,0,2,2,1,0,0,0
2,B002-00002,S001-00001,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,B002-00002,S001-00001,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,B002-00002,S001-00010,0,0,0,0,0,0,0,0,...,10,6,4,4,4,0,0,0,0,8

# EDA

In [14]:
train_data.head(2)

,브랜드,쇼핑몰,2022-01-01,2022-01-02,2022-01-03,2022-01-04,2022-01-05,2022-01-06,2022-01-07,2022-01-08,...,2023-04-15,2023-04-16,2023-04-17,2023-04-18,2023-04-19,2023-04-20,2023-04-21,2023-04-22,2023-04-23,2023-04-24
0,B002-00001,S001-00001,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,B002-00002,S001-00001,0,0,0,0,0,0,0,0,...,2,0,2,0,2,2,1,0,0,0

In [15]:
train_data.isnull().sum()

브랜드           0
쇼핑몰           0
2022-01-01    0
2022-01-02    0
2022-01-03    0
             ..
2023-04-20    0
2023-04-21    0
2023-04-22    0
2023-04-23    0
2023-04-24    0
Length: 481, dtype: int64

In [16]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28894 entries, 0 to 28893
Columns: 481 entries, 브랜드 to 2023-04-24
dtypes: int64(479), object(2)
memory usage: 106.0+ MB

In [17]:
train_data.shape

(28894, 481)

In [18]:
train_data.size

13898014

### 데이터 전처리

In [19]:
import pandas as pd

# 더 작은 값을 추가하여 분모가 0인 경우 방지하는 상수 정의
EPSILON = 1e-8

numeric_cols = train_data.columns[2:]

# 칵 column의 min 및 max 계산
min_values = train_data[numeric_cols].min(axis=1)
max_values = train_data[numeric_cols].max(axis=1)

# 각 행의 범위(max-min)를 계산하고, 범위가 0인 경우 EPSILON 더해주기
ranges = max_values - min_values + EPSILON
# min-max scaling 수행
scaled_data = (train_data[numeric_cols].subtract(min_values, axis=0)).div(ranges, axis=0)

# 스케일링된 데이터로 업데이트
train_data[numeric_cols] = scaled_data

# max와 min 값을 dictionary 형태로 저장
scale_min_dict = min_values.to_dict()
scale_max_dict = max_values.to_dict()

In [20]:
train_data.columns

Index(['브랜드', '쇼핑몰', '2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
       '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
       ...
       '2023-04-15', '2023-04-16', '2023-04-17', '2023-04-18', '2023-04-19',
       '2023-04-20', '2023-04-21', '2023-04-22', '2023-04-23', '2023-04-24'],
      dtype='object', length=481)

In [21]:
# Label Encoding
label_encoder = LabelEncoder()
categorical_columns = ['쇼핑몰', '브랜드']

for col in categorical_columns:
    label_encoder.fit(train_data[col])
    train_data[col] = label_encoder.transform(train_data[col])

In [22]:
def make_train_data(data, train_size=CFG['TRAIN_WINDOW_SIZE'], predict_size=CFG['PREDICT_SIZE']):

    num_rows = len(data)
    window_size = train_size + predict_size
    
    input_data = np.empty((num_rows * (len(data.columns) - window_size + 1), train_size, len(data.iloc[0, :2]) + 1))
    target_data = np.empty((num_rows * (len(data.columns) - window_size + 1), predict_size))
    
    for i in tqdm(range(num_rows)):
        encode_info = np.array(data.iloc[i, :2])
        sales_data = np.array(data.iloc[i, 2:])
        
        for j in range(len(sales_data) - window_size + 1):
            window = sales_data[j : j + window_size]
            temp_data = np.column_stack((np.tile(encode_info, (train_size, 1)), window[:train_size]))
            input_data[i * (len(data.columns) - window_size + 1) + j] = temp_data
            target_data[i * (len(data.columns) - window_size + 1) + j] = window[train_size:]
    
    return input_data, target_data

In [23]:
def make_predict_data(data, train_size=CFG['TRAIN_WINDOW_SIZE']):

    num_rows = len(data)
    
    input_data = np.empty((num_rows, train_size, len(data.iloc[0, :2]) + 1))
    
    for i in tqdm(range(num_rows)):
        encode_info = np.array(data.iloc[i, :2])
        sales_data = np.array(data.iloc[i, -train_size:])
        
        window = sales_data[-train_size : ]
        temp_data = np.column_stack((np.tile(encode_info, (train_size, 1)), window[:train_size]))
        input_data[i] = temp_data
    
    return input_data

In [24]:
train_data.tail()

,브랜드,쇼핑몰,2022-01-01,2022-01-02,2022-01-03,2022-01-04,2022-01-05,2022-01-06,2022-01-07,2022-01-08,...,2023-04-15,2023-04-16,2023-04-17,2023-04-18,2023-04-19,2023-04-20,2023-04-21,2023-04-22,2023-04-23,2023-04-24
28889,2893,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.00000,0.000000,0.000000,0.0,0.000000,0.00000,0.000000,0.000000,0.0
28890,2894,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.00000,0.000000,0.000000,0.0,0.000000,0.00000,0.000000,0.000000,0.0
28891,2894,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00813,0.01626,0.004065,0.000000,0.0,0.000000,0.01626,0.000000,0.008130,0.0
28892,2894,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.00000,0.000000,0.000000,0.0,0.000000,0.00000,0.000000,0.000000,0.0
28893,2894,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.00000,0.000000,0.035714,0.0,0.035714,0.00000,0.035714,0.071429,0.0

In [25]:
train_input, train_target = make_train_data(train_data)
test_input = make_predict_data(train_data)

  0%|          | 0/28894 [00:00<?, ?it/s]

100%|██████████| 28894/28894 [03:32<00:00, 136.14it/s]
100%|██████████| 28894/28894 [00:36<00:00, 800.58it/s]

In [26]:
data_len = len(train_input)
val_ratio = 0.2


val_len = int(data_len * val_ratio)


val_input = train_input[-val_len:]
val_target = train_target[-val_len:]

train_input = train_input[:-val_len]
train_target = train_target[:-val_len]

In [27]:
train_input.shape, train_target.shape, val_input.shape, val_target.shape, test_input.shape

((10424956, 10, 3),
 (10424956, 21),
 (2606238, 10, 3),
 (2606238, 21),
 (28894, 10, 3))

### Custom Dataset

In [28]:
class CustomDataset(Dataset):
    def __init__(self, X, Y):
        self.X = X
        self.Y = Y
        
    def __getitem__(self, index):
        if self.Y is not None:
            return torch.Tensor(self.X[index]), torch.Tensor(self.Y[index])
        return torch.Tensor(self.X[index])
    
    def __len__(self):
        return len(self.X)

In [29]:
train_dataset = CustomDataset(train_input, train_target)
train_loader = DataLoader(train_dataset, batch_size = CFG['BATCH_SIZE'], shuffle=True, num_workers=0)

val_dataset = CustomDataset(val_input, val_target)
val_loader = DataLoader(val_dataset, batch_size = CFG['BATCH_SIZE'], shuffle=False, num_workers=0)

### 모델 선언

# Layer Normalization

In [65]:
import torch
import torch.nn as nn

class ImprovedModelWithCNN(nn.Module):
    def __init__(self, input_size=3, hidden_size=32, num_layers=1, output_size=CFG['PREDICT_SIZE'], dropout_prob=0.2):
        super(ImprovedModelWithCNN, self).__init__()
        self.hidden_size = hidden_size
        self.num_layers = num_layers
        
        # 1D CNN 레이어 추가
        self.cnn = nn.Sequential(
            nn.Conv1d(input_size, hidden_size, kernel_size=2, padding=1, stride = 1),  # 1D 합성곱 레이어
            nn.ReLU(),
            nn.MaxPool1d(kernel_size=1, stride = 1)  # 맥스 풀링 레이어
            # nn.Conv1d(hidden_size, hidden_size, kernel_size=2, padding=1, stride = 1),  # 1D 합성곱 레이어
            # nn.ReLU(),
            # nn.MaxPool1d(kernel_size=1, stride = 1)  # 맥스 풀링 레이어
            
        )
        
        self.gru = nn.GRU(hidden_size, hidden_size, num_layers=num_layers, batch_first=True)
        self.ln = nn.LayerNorm(hidden_size)  # Layer Normalization
        self.dropout = nn.Dropout(dropout_prob)
        self.fc = nn.Sequential(
            nn.Linear(hidden_size, hidden_size // 2),
            nn.ReLU(),
            nn.Linear(hidden_size // 2, output_size)
        )
        self.actv = nn.ReLU()

    def forward(self, x):
        batch_size = x.size(0)
        hidden = self.init_hidden(batch_size, x.device)

        # 1D CNN 레이어 적용
        x = self.cnn(x.permute(0, 2, 1)).permute(0, 2, 1)

        gru_out, hidden = self.gru(x, hidden)
        gru_out = self.dropout(gru_out)
        gru_out = self.ln(gru_out)  # Layer Normalization 적용

        last_output = gru_out[:, -1, :]

        output = self.actv(self.fc(last_output))

        return output.squeeze(1)

    def init_hidden(self, batch_size, device):
        return torch.zeros(self.num_layers, batch_size, self.hidden_size, device=device)

In [66]:
import torch
import torch.nn as nn

class ImprovedModelWithLSTM(nn.Module):
    def __init__(self, input_size=3, hidden_size=32, num_layers=1, output_size=CFG['PREDICT_SIZE'], dropout_prob=0.2):
        super(ImprovedModelWithLSTM, self).__init__()
        self.hidden_size = hidden_size
        self.num_layers = num_layers
        
        self.lstm = nn.LSTM(input_size, hidden_size, num_layers=num_layers, batch_first=True, dropout=dropout_prob)
        self.ln = nn.LayerNorm(hidden_size)  # Layer Normalization
        self.dropout = nn.Dropout(dropout_prob)
        self.fc = nn.Sequential(
            nn.Linear(hidden_size, hidden_size // 2),
            nn.ReLU(),
            nn.Linear(hidden_size // 2, output_size)
        )
        self.actv = nn.ReLU()

    def forward(self, x):
        batch_size = x.size(0)
        hidden = self.init_hidden(batch_size, x.device)

        lstm_out, _ = self.lstm(x, hidden)
        lstm_out = self.dropout(lstm_out)
        lstm_out = self.ln(lstm_out)  # Layer Normalization 적용

        last_output = lstm_out[:, -1, :]

        output = self.actv(self.fc(last_output))

        return output.squeeze(1)

    def init_hidden(self, batch_size, device):
        # LSTM의 hidden state 초기화
        return (torch.zeros(self.num_layers, batch_size, self.hidden_size, device=device),
                torch.zeros(self.num_layers, batch_size, self.hidden_size, device=device))

### 모델 학습

In [67]:
def train(model, optimizer, train_loader, val_loader, device, scheduler=None):
    model.to(device)
    criterion = nn.MSELoss().to(device)
    best_loss = float('inf')
    best_model = None
    early_stopping_counter = 0
    max_early_stopping = 5  # Max number of consecutive epochs with increasing validation loss
    
    for epoch in range(1, CFG['EPOCHS'] + 1):
        model.train()
        train_loss = []
        train_mae = []

        for X, Y in tqdm(iter(train_loader)):
            X = X.to(device)
            Y = Y.to(device)

            optimizer.zero_grad()

            output = model(X)
            loss = criterion(output, Y)

            loss.backward()
            optimizer.step()

            train_loss.append(loss.item())


        
        val_loss = validation(model, val_loader, criterion, device)
        print(f'Epoch : [{epoch}] Train Loss : [{np.mean(train_loss):.5f}] Val Loss : [{val_loss:.5f}]')

        if scheduler is not None:
            scheduler.step(val_loss)  # Update learning rate based on scheduler's policy
        
        if val_loss < best_loss:
            best_loss = val_loss
            best_model = model
            early_stopping_counter = 0
        else:
            early_stopping_counter += 1
            if early_stopping_counter >= max_early_stopping:
                print(f'Early stopping triggered at epoch {epoch}')
                break

        

    return best_model

In [68]:
def validation(model, val_loader, criterion, device):
    model.eval()
    val_loss = []
    
    with torch.no_grad():
        for X, Y in tqdm(iter(val_loader)):
            X = X.to(device)
            Y = Y.to(device)
            
            output = model(X)
            loss = criterion(output, Y)
            
            val_loss.append(loss.item())
    return np.mean(val_loss)

## Run !!

In [69]:
import torch.optim.lr_scheduler as lr_scheduler

# model = ImprovedModelWithCNN()
# optimizer = torch.optim.RAdam(params=model.parameters(), lr=CFG["LEARNING_RATE"])
# scheduler = lr_scheduler.ReduceLROnPlateau(optimizer, mode='min', patience=2, factor=0.7, verbose=True)
# infer_model = train(model, optimizer, train_loader, val_loader, device, scheduler)
# 첫 번째 모델 생성
model1 = ImprovedModelWithCNN()
optimizer1 = torch.optim.RAdam(params=model1.parameters(), lr=CFG["LEARNING_RATE"])
scheduler1 = lr_scheduler.ReduceLROnPlateau(optimizer1, mode='min', patience=2, factor=0.7, verbose=True)
infer_model1 = train(model1, optimizer1, train_loader, val_loader, device, scheduler1)

# 두 번째 모델 생성
model2 = ImprovedModelWithLSTM()
optimizer2 = torch.optim.RAdam(params=model2.parameters(), lr=CFG["LEARNING_RATE"])
scheduler2 = lr_scheduler.ReduceLROnPlateau(optimizer2, mode='min', patience=2, factor=0.7, verbose=True)
infer_model2 = train(model2, optimizer2, train_loader, val_loader, device, scheduler2)

  0%|          | 0/1043 [00:00<?, ?it/s]

100%|██████████| 1043/1043 [05:34<00:00,  3.11it/s]
100%|██████████| 261/261 [01:10<00:00,  3.70it/s]
c:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\torch\nn\modules\rnn.py:71: UserWarning: dropout option adds dropout after all but last recurrent layer, so non-zero dropout expects num_layers greater than 1, but got dropout=0.2 and num_layers=1
  warnings.warn("dropout option adds dropout after all but last "

Epoch : [1] Train Loss : [0.03411] Val Loss : [0.02577]

100%|██████████| 1043/1043 [05:24<00:00,  3.21it/s]
100%|██████████| 261/261 [01:08<00:00,  3.83it/s]

Epoch : [1] Train Loss : [0.03756] Val Loss : [0.02576]

## 모델 추론

In [70]:
test_dataset = CustomDataset(test_input, None)
test_loader = DataLoader(test_dataset, batch_size = CFG['BATCH_SIZE'], shuffle=False, num_workers=0)

In [90]:
def inference(model, test_loader, device):
    predictions = []
    
    with torch.no_grad():
        for X in tqdm(iter(test_loader)):
            X = X.to(device)
            
            output = model(X)
            
            # 모델 출력인 output을 CPU로 이동하고 numpy 배열로 변환
            output = output.cpu().numpy()
            
            predictions.extend(output)
    
    return np.array(predictions)

In [72]:
def ensemble_inference(model1, model2, test_loader, device):
    predictions1 = inference(model1, test_loader, device)
    predictions2 = inference(model2, test_loader, device)

    # 두 모델의 예측 평균
    weight_model1 = 0.7  # 첫 번째 모델에 부여할 가중치
    weight_model2 = 0.3  # 두 번째 모델에 부여할 가중치

    # 예측값 결합
    ensemble_predictions = (predictions1 * weight_model1) + (predictions2 * weight_model2)

    return ensemble_predictions

In [81]:

# # 두 모델의 예측 평균
# def ensemble_predictions(model1, model2, test_loader, device):
#     model1.eval()
#     model2.eval()
#     predictions1 = []
#     predictions2 = []

#     with torch.no_grad():
#         for X in tqdm(iter(test_loader)):
#             X = X.to(device)

#             outputs1 = model1(X)
#             outputs2 = model2(X)

#             outputs1 = outputs1.cpu().numpy()
#             outputs2 = outputs2.cpu().numpy()

#             predictions1.extend(outputs1)
#             predictions2.extend(outputs2)

#     # predictions1 = torch.cat(predictions1, dim=0)
#     # predictions2 = torch.cat(predictions2, dim=0)

#     # 예측값을 평균
#     # 두 모델에 가중치 부여
#     weight_model1 = 0.7  # 첫 번째 모델에 부여할 가중치
#     weight_model2 = 0.3  # 두 번째 모델에 부여할 가중치

#     # 예측값 결합
#     ensemble_predictions = (predictions1 * weight_model1) + (predictions2 * weight_model2)


#     return np.array(ensemble_predictions)

In [91]:
# 검증 데이터에 대한 앙상블 예측 생성
val_predictions = ensemble_inference(infer_model1, infer_model2, test_loader, device)

100%|██████████| 3/3 [00:00<00:00,  4.98it/s]
100%|██████████| 3/3 [00:00<00:00,  9.87it/s]

In [92]:
# pred = inference(infer_model, test_loader, device)

In [93]:
# 추론 결과를 inverse scaling
for idx in range(len(val_predictions)):
    val_predictions[idx, :] = val_predictions[idx, :] * (scale_max_dict[idx] - scale_min_dict[idx]) + scale_min_dict[idx]
    
# 결과 후처리
val_predictions = np.round(val_predictions, 0).astype(int)

In [94]:
val_predictions.shape

(28894, 21)

## Submission

In [95]:
submit = pd.read_csv('E:/정리/LG/LG_data/LG/sample_submission.csv')
submit.head()

,ID,2023-04-25,2023-04-26,2023-04-27,2023-04-28,2023-04-29,2023-04-30,2023-05-01,2023-05-02,2023-05-03,...,2023-05-06,2023-05-07,2023-05-08,2023-05-09,2023-05-10,2023-05-11,2023-05-12,2023-05-13,2023-05-14,2023-05-15
0,SAMPLE_00000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,SAMPLE_00001,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,SAMPLE_00002,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,SAMPLE_00003,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,SAMPLE_00004,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [96]:
submit.iloc[:,1:] = val_predictions
submit.head()

,ID,2023-04-25,2023-04-26,2023-04-27,2023-04-28,2023-04-29,2023-04-30,2023-05-01,2023-05-02,2023-05-03,...,2023-05-06,2023-05-07,2023-05-08,2023-05-09,2023-05-10,2023-05-11,2023-05-12,2023-05-13,2023-05-14,2023-05-15
0,SAMPLE_00000,0,0,2,0,1,1,1,1,2,...,1,0,1,1,1,2,2,1,0,2
1,SAMPLE_00001,0,0,1,0,0,1,0,1,2,...,1,0,1,1,1,1,1,0,0,2
2,SAMPLE_00002,0,1,6,0,2,5,2,5,7,...,3,0,4,3,6,5,6,1,0,7
3,SAMPLE_00003,0,1,13,0,3,9,4,9,14,...,5,0,9,6,13,10,12,2,0,13
4,SAMPLE_00004,0,7,69,5,11,23,23,39,30,...,21,0,27,37,49,35,35,21,0,50

In [97]:
submit.to_csv('E:/정리/LG/LG_data/models/036_ReLU_layer3.csv', index=False)